* {
    margin: 0;
    padding: 0;
}

/* navbar */

.navigateur {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.association {
    width: 100%;
}

#solidarité {
    width: 200px;
    cursor: pointer;
}

.nav-item {
    flex: 1;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.accueil {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 40px;
    width: 100%;
    gap: 90px;
    font-size: 20px;
    margin-top: 23px;
}

nav ul {
    color: black;
    text-transform: uppercase;
    margin-top: 5em;
}

nav li {
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

nav a {
    text-decoration: none;
    color: black;
}

/* main */
main {
    padding: 0 30px;
}

.image1 {
    width: 35%;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 15px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;

}

.p1 {
    margin-top: 50px;
}

.p2 {
    margin-top: 20px;
    font-size: 30px;
}

.parag1 {
    display: flex;
}

.presentation-assoc {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 70px;
}

.image2 {
    width: 100%;
    margin-bottom: 25px;
}

ul {
    font-size: 25px;
    padding: 0 30px;
}

.contact1{
    display: flex;
    margin-top: 50px;
}
.ctc1 img{
    width: 10%;
}
/* Styles pour le menu burger */
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.burger__icon {
    display: none;
}

/* Styles pour l'icône burger */
.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-icon .color {
    background-color: white;
    height: 3px;
    width: 100%;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .accueil {
        display: none;
    }
    .burger__icon {
        display: block;
    }
.parag1 {
        flex-direction: column;
}
.presentation-assoc {
    width: 100%;
    margin-top: 30px;
}
.image1 {
    width: 100%;
    margin: 0;
    margin-top: 30px;
}
main {
    padding: 0 15px;
}
.contact1 {
    flex-direction: column;
}
.adresse {
    width: 100% ;
  } 
}

/* evenement */
h2 {
    font-size: 35px;
    color: #A07E37;
    padding: 10px 0;
}

.journée-femme {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.img1,
.img2 {
    width: 50%;
}

/* contact */
.contact {
    text-align: center;
    margin-top: 50px;
}
.facebook {
    width: 3%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.adresse {
    width: 59%;
}

/* a propos */
h3 {
    font-size: 45px;
}

.class1 a,
.class2 a, .class3 a {
    text-decoration: none;
    color: #A07E37;
    width: 100%;
    height: 100%;
}
.class1 p,
.class2 p, .class3 p{
    font-size: 30px;
}

.class1, .class2 {
    display: flex;
    width: 50%;
}
.class3{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-top: -180px;
}
.honneur{
    width: 100%;
    height: 60%;
}

.relooking{
    width: 100%;
    height: 60%;
}
.ukraine{
    width: 100%;
    height: 60%;
    margin-top: 35px;
}
.classes1 {
    display: flex;
    gap: 5px;
}
.classes2 {
    display: flex;
    gap: 5px;
    margin-top: -210px;
}

/* footer */
.footer {
    border-top: 0.1em solid;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    background-color: #f3f3f3;
}

.footer__liens {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
}

.footer__liens__lien {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;

}

.footerliens {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
    border-top: 0.1em solid;

}

.footerlienslien {
    text-decoration: none;
}

@media screen and (max-width: 428px) {

    .accueil {
        display: none;
        background-color: #1B1B1B;
        width: 100%;
    }
    .burger__icon{
        display: block;
        position: absolute;
        z-index: 1;
    }
    .color {
        color: #A07E37;
    }

    #solidarité {
        width: 30%;
        float: none;
    }

    .footer__liens{
        position: absolute;
        right: 45%;
        display: contents; 
    }
    .parag1 {
        display: flex;
        flex-direction: column;
      }
      .image1 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }
    .presentation-assoc {
        width: 100%;
        margin-top: 30px;
      }
      h3{
        font-size: 35px;
      }
      .contact1{
        display: block;
      }
      .adresse {
        width: 100%;
      }
}