/* Styles de base pour la navigation */
.navigateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navigateur a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navigateur img {
    height: 50px;
}

.accueil {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.accueil .nav-item {
    margin-left: 10px;
}

/* Styles pour le menu burger */
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.burger__icon {
    display: none;
}

/* Styles pour l'icône burger */
.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-icon .color {
    background-color: white;
    height: 3px;
    width: 100%;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .accueil {
        display: none;
    }
    .burger__icon {
        display: block;
    }
    .parag1 {
        flex-direction: row;
      
}
}